{% extends 'WastePlasticCollectorApp/base_template.html' %} 

{% block page_title %}
    Feedback Message 
{% endblock page_title %} 

{% block header_title %}
  Feedback and Rating
{% endblock header_title %}

{% block custom_css %}
  <style>
    .content{
        margin-top: 10px;
    }
    .btn{
      background-color: #009999;  
      border: none;
      position: center;
    }
    .card-footer{
        background: white;
        border: none;
    }
    .card-header{
        background-color: #009999 !important;
    }
  </style>
{% endblock custom_css %}

 {% block main_content %} 

 {% load static %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Leave a Feedback Message</h3>
          </div>
          <!-- /.card-header -->
          {% comment %} Display Messages {% endcomment %} {% if messages %}
          <div class="form-group">
            <div class="col-12">
              {% for message in messages %} {% if message.tags == "error" %}
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                style="margin-top: 10px"
              >
                {{ message }}
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% elif message.tags == "success" %}
              <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
                style="margin-top: 10px"
              >
                {{ message }}
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
          {% endif %}

          <form method="POST" action="{% url 'register_feedback' %}">
            {% csrf_token %}
            <div class="card-body">
              <div class="form-group">{{ form.as_p }}</div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">
                Leave a Feedback
              </button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

{% endblock main_content %} 
{% block custom_js %}
{% endblock custom_js %}
