{% load static %}

<aside class="main-sidebar sidebar-white-primary"  style="background: #FFFFFF;">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img
      src="{% static 'dist/img/clenville_logo.jpg' %}"
      alt="AdminLTE Logo"
      class="brand-image"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light" style="margin-left: 10px; margin-top: 5px; color: #303778;font-family: Poppins;
font-size: 20px;
font-weight: 900;
line-height: 30px;
letter-spacing: 0.05em;
text-align: left;
">Waste Collection</span
    >
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link  custom-hover">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>User Management</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-address-card"></i>
            <p>Agent Management</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-archive"></i>
            <p>Collection Requests</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>Content Management</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-comment-dots"></i>
            <p>Feedback and Rating</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p>Reports</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-trophy"></i>
            <p>Points and Rewards</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-bell"></i>
            <p>Notifications</p>
          </a>
        </li>
      </ul>
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="{% static 'dist/img/user2-160x160.jpg' %}"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block">AA</a>
      </div>
    </div>
    </nav>

    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
